.part_five{
    text-align: center;
    margin-top: 40px;
}
.part_five h2{
    color: #CD1A40;
    font-family: cursive;
}
.part_five h1{
    font-size: 65px;
    font-weight: 300;  
}
.part_five h5{
    margin-top: 20px;
    font-size: 16px;
}
.part_five_cards{
    display: flex;
    width: 85%;
    margin-left: 10%;
    flex-wrap: wrap;
    margin-top: 20px;
    text-align: left;
}
.part_five_cards img{
    width: 100%;
}
.five_card{
    width: 350px;
    margin: 20px;
}